# build directories
build/
build-debug/

# cmake artifacts
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
install_manifest.txt
config.h

# generated sources
src/*.dox.h
src/qc_*.cpp
src/ql_*.cpp
src/QC_*.cpp
*.dox.h

# editor / IDE files
*~
.cproject
.project
.settings/
.vscode

# temporary doxygen files
docs/*.tag
docs/ssh2/
docs/SftpClientDataProvider/
docs/SftpPoller/
docs/SftpPollerUtil/
docs/Ssh2Connections/
docs/doxyfile
docs/*.doxygen
docs/qlib/Doxyfile.*
