/** @mainpage Qore SSH2 Module

    @tableofcontents

    @section ssh2intro Introduction to the ssh2 Module

    The ssh2 module provides Qore the possibility to communicate with sshd servers via the <a href="http://en.wikipedia.org/wiki/Secure_Shell#Version_2.x">ssh2 protocol</a>; the underlying functionality is provided by <a href="http://www.libssh2.org">libssh2</a>.

    This module is released under a choice of two licenses:
    - <a href="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">LGPL 2.1</a>
    - MIT (see COPYING.MIT in the source distribution for more information)
    .
    The module is tagged as such in the module's header (meaning it can be loaded unconditionally regardless of how the %Qore library was initialized).  This version of the module requires Qore 2.3+ and the @c sshutil module to compile and run.

    To use the module in a %Qore script, use the \c %%requires directive as follows:
    @code{.py}
%requires ssh2
    @endcode

    This module provides the following classes:
    |!Class|!Description
    |Qore::SSH2::SSH2Base|base class for @ref Qore::SSH2::SFTPClient "SFTPClient" and @ref Qore::SSH2::SSH2Client "SSH2Client"
    |Qore::SSH2::SSH2Client|allows Qore programs to establish an ssh2 connection to a remote server
    |Qore::SSH2::SFTPClient|allows Qore programs to use the sftp protocol
    |Qore::SSH2::SSH2Channel|allows Qore programs to send and receive data through an ssh2 channel
    |Qore::SSH2::SSH2Listener|represents a reverse port forwarding listener (created by SSH2Client::forwardListen())

    When connecting the module will try to:

    - connect to the server with the given port or with port 22 if no port is given
    - login as the given user (user is set in the URL given to @ref Qore::SSH2::SSH2Client::constructor() "SSH2Client::constructor()" or @ref Qore::SSH2::SFTPClient::constructor() "SFTPClient::constructor()" or can be modified with @ref Qore::SSH2::SSH2Base::setUser() "SSH2Base::setUser()") using:
      - SSH agent authentication (enabled by default; can be disabled with @ref Qore::SSH2::SSH2Base::setUseAgent() "SSH2Base::setUseAgent()")
      - publickey authentication from memory (set with @ref Qore::SSH2::SSH2Base::setKeysFromData() "SSH2Base::setKeysFromData()")
      - publickey authentication from file (public and private key files can be modified with @ref Qore::SSH2::SSH2Base::setKeys() "SSH2Base::setKeys()")
      - password authentication (password can be set in the URL given to @ref Qore::SSH2::SSH2Client::constructor() "SSH2Client::constructor()" or @ref Qore::SSH2::SFTPClient::constructor() "SFTPClient::constructor()" or can be set afterwards with @ref Qore::SSH2::SSH2Base::setPassword() "SSH2Base::setPassword()")
      - keyboard-interactive authentication (faked with password)

    See some examples here: @ref ssh2examplesguide

    @section ssh2qlibmodules Qore User Modules

    - @ref sftpclientdataproviderintro "SftpClientDataProvider" — a data provider API for SFTP servers
    - @ref sftppollerintro "SftpPoller" — %SftpPoller module
    - @ref sftppollerutilintro "SftpPollerUtil" — %SftpPollerUtil module
    - @ref ssh2connectionsintro "Ssh2Connections" — providing SSH2 connections

    @section ssh2documentation Documentation

    - @anchor thread_safety @subpage ssh2thread_safetyguide
    - @anchor best_practices @subpage ssh2best_practicesguide
    - @anchor examples @subpage ssh2examplesguide
    - @anchor codetags @subpage ssh2codetagsguide
    - @anchor ssh2releasenotes @subpage ssh2releasenotesguide

*/
